@font-face {
    font-family: JUA;
    src: url(../images/BMJUA_ttf.ttf);
}

@font-face {
    font-family: DOHYUN;
    src: url(../images/BMDOHYEON_ttf.ttf);
}

.container-fluid{
    padding: 0px;
} 


.block {
    height:500px;
    width:100%;
    display: flex;
    flex-direction: row;
}

.orderlist{
    width: 200px;
    height: 300px;
    background-image: url(../images/orderlist.png);
    background-size: 200px;
    background-repeat: no-repeat;
    line-height: 2;
    text-align: center;
    margin-left: 5%;
    margin-top: 3%;
    padding:20px;
    padding-top: 50px;
    font-family: "DOHYUN";
}
.NavBar{
    text-align:center;
    font-family: "JUA";
}
.btn1 {
    width:100px;
    background-color: white;
    border: none;
    color:black;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
    /* font-weight: bold; */
}
.btn2 {
    width:100px;
    background-color: white;
    border: none;
    color:black;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
}
.btn3 {
    width:100px;
    background-color: white;
    border: none;
    color:black;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
}
.btn4 {
    width:100px;
    background-color: white;
    border: none;
    color:black;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px;
    margin-left: 20px;
    cursor: pointer;
}

.roof {
    background-image: url(../images/banner.png);
    background-size: 100%;
    width: 100%;
    height: 200px;
    text-align: left;
    /* font-weight: bold; */
    font-size: 45px;
    color:white;
    line-height: 3;
    align-content: left;
    font-family: "JUA";
    background-repeat: no-repeat;
}

.roof2 {
    width: 500px;
    height:50px;
    font-size:30px;
    text-align: center;
    line-height: 0;
}

.leftside{
    background-color: white;
    width: 70%;
    height: 700px;
}

.rightside{
    background-color: white;
    width: 30%;
    height: 700px;
}

.footer{
    background-color: gainsboro;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    line-height: 2;
}