.container {
    display: grid; 
    border:black;
    border:solid;
    /* CSS3 그리드 레이아웃을 선언합니다. */
    grid-template-columns: 200px 200px;
  }

.cell-a {
    background-color: red;
    border: black;
  }
.cell-b {
    background-color: red;
    border: black;
  }
.cell-c {
    background-color: red;
    border: black;
  }
.cell-d {
    background-color: red;
    border: black;
  }